COUNTRYname="RU"
LOCALITYname="Moscow"
ORGname="BiTime LLC"
SERVICEbase="CloudInside Service Provider"

CERTcfgFile="
[ req ]
default_bits = 2048
default_keyfile = cert.key
distinguished_name = req_distinguished_name
encrypt_key = no
prompt = no
string_mask = nombstr
req_extensions = v3_req

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth, clientAuth

[ req_distinguished_name ]
countryName = $COUNTRYname
localityName = $LOCALITYname
stateOrProvinceName = $LOCALITYname
organizationName = $ORGname
organizationalUnitName = $SERVICEbase. $SERVICEdescr
commonName = $SERVICEname
"
